# Data files
/data/folder1/**
/data/folder2/**
/data/raw/*.csv
/data/raw/*.nc
/data/processed/*.csv
/data/processed/train_validation_data.csv
/data/processed/test_data.csv
/data/processed/predictions.csv
*.csv

# Model files
/models/*.keras
/models/*.h5
/models/nwm_dl_model.keras

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
runoff_env_py310/

# Other
.DS_Store
.idea/
.vscode/
results/predictions.csv
results/*.csv
data/
*.h5
runoff_env*/
